
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0em;
  padding:0em;
}
body {
  background-color: rgba(237,239,240,1);
  font-family: 'Roboto';
  font-size: 1em;
  line-height: 1.15em;
  color: rgba(0,0,0,1);
  margin: 0em;
}
.navBar {
  position: relative;
  display: block;
  margin: 1.5em;
  /*height: 10em;*/
}
.leftNav {
  float: left;
  width: 50%;
  /*height: 10em;*/
  padding-top: 1.1em;
  font-weight: 600;
}
/*right menu half*/
.rightNav {
  position: relative;
  display:block;
  float: right;
  width: 50%;
  /*height: 10em;*/
  color: rgba(0,0,0,.25);
}
.rightNav > * {
  float: right;
}
#number {
  margin-top: 1.1em;
  margin-right: .4em;
}
#person img {
  width: 3em;
  margin-right: .3em;
}
#downArrow img {
  width: .95em;
  margin-top: 1.2em;
  margin-right: 1em;
}
#linedArrow img {
  width: 3.5em;
  margin-top: .65em;
  margin-right: 1em;
  margin-left: .5em;
  border-right: .1em solid rgb(212,217,221);
  padding-right: .8em;
  border-left: .1em solid rgb(212,217,221);
  padding-left: .8em;
}
.bell {
  position: relative;
}
.bell img {
  width: 1.75em;
  margin-top: .65em;
  margin-right: .8em;
}
.bellbox {
  position: absolute;
  top: .1em;
  left: 1.5em;
  color: rgba(255,255,255,1);
  font-size: .75em;
  width: 1em;
  height: 1.5em;
  background-color: red;
  border: .1em solid red;
  border-radius: .2em;
  padding-bottom: .5em;
  padding-left: .2em;
}
#horizontalBar {
  float: left;
  width: 100%;
  height: .3em;
  background-image: linear-gradient(#888, #fff);
  margin-top: .65em;
  /*margin-bottom: 1em;*/
}
.columnContainer {
  position: relative;
  background-color: yellow;
  width: 100%;
  height: 10em;
  color: rgba(212,217,221,1);
  padding-top: 1em;
  clear: both;
}
.column {
  position: relative;
  background-color: rgba(255,255,255,1);
  width: 48%;
  height: 20em;
  border-radius: .3em;
  padding-top:3.5em;
  padding-left: .75em;
  padding-right: .75em;
}
.colLeft {
  float: left;
  margin-left: .75em;
}
.colRight {
  float: right;
  margin-right: .75em;
}
.courseHeader {
  position: absolute;
  top: 0em;
  left: 0em;
  background-color: rgba(44,150,118,1);
  width: 100%;
  height: 2.5em;
  color: rgba(255,255,255,1);
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
  padding-top: .5em;
  padding-left: .75em;
  padding-right: .75em;
}
