#horizontalBar {
  float: left;
  width: 100%;
  height: .3em;
  background-image: $color-gradient-light;
  margin-top: .65em;
}
.columnContainer {
  position: relative;
  width: 100%;
  height: 10em;
  color: $black;
  padding-top: 1em;
  clear: both;
}

.courseHeader {
  position: absolute;
  top: 0em;
  left: 0em;
  background-color: rgba(44,150,118,1);
  width: 100%;
  height: 2.5em;
  color: $color-text-light;
  border-radius: 0.3em 0.3em 0em 0em;
  padding: 0.75em 0.75em 0em 1.25em;
}
.book {
  width: 1.5em;
}
.circle {
  position: absolute;
  top:1em;
  left:3.5em;
  width: .5em;
  height: .5em;
  border: .1em solid  $color-border-shade;
  border-radius: .25em;
}
.circle1 {
  position: absolute;
  top:1em;
  left:4.5em;
  width: .5em;
  height: .5em;
  border: .1em solid  $color-border-shade;
  border-radius: .25em;
}
.circle2 {
  position: absolute;
  top:1em;
  left:5.5em;
  width: .5em;
  height: .5em;
  border: .1em solid  $color-border-shade;
  border-radius: .25em;
}
.circle3 {
  position: absolute;
  top:1em;
  left:6.5em;
  width: .5em;
  height: .5em;
  border: .1em solid  $color-border-shade;
  border-radius: .25em;
}
.circle4 {
  position: absolute;
  top:1em;
  left:7.5em;
  width: .5em;
  height: .5em;
  border: .1em solid  $color-border-shade;
  border-radius: .25em;
}
.minutes {
  float:right;
  font-size: .75em;
  font-weight: 500;
}
.bottomButtons {
  position: relative;
  width: 100%;
  font-weight: 500;
  text-align: center;
  color: $color-shadow-50;
}
.langButton {
  float: left;
  width:22%;
  border: .12em solid $color-shadow-25;
  border-radius: 1.5em;
  padding: .5em;
  margin-right: 1em;
}
.java {
  color: $lochinvar;
}
.python {
  color: $illusion;
}
#python {
  background-color: $illusion;
}
.wordpress {
  color: $purple;
}
#wordpress {
  background-color: $purple;
}
.levelButton {
  float: left;
  width: 25%;
  border: .12em solid $color-shadow-25;
  border-radius: 1.5em;
  padding: .5em;
  margin-right: .5em;
  text-align: center;
}
.arrowStar {
  float: right;
  width: 25%;
}
.arrowStar img {
  float: right;
  width: 2.45em;
  margin-right: 1em;
}
